<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<% if (session.email) { %> <h1>안녕하세요. <%= session.email %> !</h1> <% } else {%>
  <h1>안녕하세요</h1>
<% } %>
</body>
</html>